<header>
    <nav class="nav">
        <div class="nav-left">
            <a class="nav-item is-hidden-tablet" href="/">BC</a>
        </div>
        <div class="nav-center">
            <a class="nav-item is-hidden-mobile" href="/">BC</a>
        </div>
        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class="nav-right nav-menu">
            <span class="nav-item">blah</span>
            <span class="nav-item">home</span>
        </div>
    </nav>
    <script type="text/javascript" src="/js/nav.js"></script>
</header>