    <nav class="nav">
        <div class="nav-left">
            
        </div>

        <div class="nav-center">
            <a class="nav-item" href="/about">About</a>
            <a class="nav-item" href="/blog">Articles</a>
            <a class="nav-item logo" href="/">
                <span>B</span><span>C</span>
            </a>
            <a class="nav-item">God <span class="tag is-light">Coming Soon!</span></a>
            <a class="nav-item" href="/projects">My Projects</a>
        </div>

        <div class="nav-right">
            
        </div>
    </nav>