{{ define "scripts" }}
    <script type="text/javascript">
       window.onload = function() { bitthicket.Init.index(); }
    </script>
{{ end }}

{{ define "header" }}
    {{ partial "header-hidden" . }}
{{ end }}

{{ define "main" }}
    <main>
        <div class="cover columns is-paddingless">
            <div class="column has-text-centered main-cover-p">
                <div class="content-wrap">
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}
                </div>
            </div>
            <div class="column main-cover-img is-paddingless">
            </div>
        </div>
        {{ range $index, $element := where .Data.Pages ".Params.featured" true }}
            <div class="featured columns">
                {{ if eq 0 (mod $index 2) }}
                <div class="column">
                    <img src={{ .Params.featureimg }} />
                </div>
                <div class="column is-two-thirds summary right">
                    {{ partial "featured-block.html" . }}
                </div>
                {{ else }}
                <div class="column is-two-thirds summary left">
                    {{ partial "featured-block.html" . }}
                </div>
                <div class="column">
                    <img src={{ .Params.featureimg }} />
                </div>
                {{ end }}
            </div>
        {{ end }}
    </main>
{{ end }}