@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// customizations via bulma variables here here
$family-sans-serif: 'Raleway', sans-serif;
$family-primary: $family-sans-serif;
$primary: $black-ter;
$background: $white;

@import "../../node_modules/bulma/bulma";

// further customizations here
@import url('https://fonts.googleapis.com/css?family=Cinzel|Raleway');

// VARIABLES
$content-width-tablet: 960px;
$content-width-widescreen: 1080px;
$font-header: 'Cinzel', serif;

h1,h2,h3,h4,h5,h6 {
    font-family: $font-header;
}

h1 {
    font-size: $size-1;
}

h2 {
    font-size: $size-2;
}

h3 { 
    font-size: $size-3;
}

ul {
    list-style: circle inside;
}

.container {
    @include tablet {
        max-width: $content-width-tablet;
    }
    @include widescreen {
        max-width: $content-width-widescreen;
    }
}

.cover { 
    height: 102vh;
}

.main-cover-img {
    @include mobile {
        height: 50vh;
        background-image: url(../img/marzocco_312.jpg);
        background-size: cover;
        background-clip: content-box;
    }

    @include tablet {
        width: $content-width-tablet / 2;
        background-image: url(../img/marzocco_500.jpg);
        background-size: cover;
        background-clip: content-box;
    }

    @include widescreen {
        width: $content-width-widescreen / 2;
    }
}

@keyframes contentEaseIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-cover-p {
    display: flex;
    align-items: center;

    @include mobile {
        height: 50vh;
    }

    .content-wrap {
        margin: auto 10%;
        display: block;
        text-align: right;

        @include tablet {
            animation: 1s ease-in-out 0.5s 1 both contentEaseIn;
        }
    }
}

.site-header {
    border-bottom: 1px solid #eee;
    width: 100%;

    .nav-item {
        font-variant: small-caps;
        margin: 0px 20px;
    }

    .nav-item.logo {
        font-family: $font-header;
        font-size: $size-3;

        span:first-child {
            margin-right: -6px;
            margin-bottom: 4px;
        }

        span:last-child {
            margin-left: -6px;
            margin-top: 10px;
        }
    }

    @include tablet {
        position: fixed;
        top: 0px;
        z-index: 1;
        transition: 0.2s ease-in-out;

        &.hidden {
            visibility: hidden;
            opacity: 0;

            transition: 0.2s ease-in-out;
        }
    }

    @include mobile {

    }
}

main.single {
    margin-top: 100px;
    margin-bottom: 100px;
    
    @include tablet {
        width: $content-width-tablet;
    }

    @include widescreen {
        width: $content-width-widescreen;
    }

    header {
        text-align: center;

        .column:first-child {
            text-align: right;
        }

        .column:last-child {
            text-align: left;
            display: flex;
            align-items: center;
        }

        img.avatar {
            border-radius: 50%;
        }
    }

    .separator {
        font-size: $size-3;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            width: $content-width-tablet / 2;
        }

        @include widescreen {
            width: $content-width-widescreen / 2;
        }

        img {
            height: 30px;
            display: block;
            margin: 5% auto;
        }
    }

    .content-wrap {
        padding: 50px 50px;
    }

    h2, h3, h4, h5, h6 {
        margin-top: 20px;
    }

    code.box {
        margin: 25px auto;
    }
}

main.list {
    margin-top: 100px;
}

main.error {
    margin: 100px auto;
    text-align: center;
    
    .card {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        padding: 25px;
    }
}

.featured {
    margin-top: 75px;

    article {
        @include tablet {
            &.hidden {
                opacity: 0;
                visibility: hidden;
            }

            animation: 1s ease-in-out 0.5s 1 both contentEaseIn;
        }
    }

    .summary {
        display: flex;
        align-items: center;
        padding: 15%;

        &.left {
            text-align: right;
        }

        &.right {
            text-align: left;
        }

        summary p {
            margin-top: 25px;
        }

        a.button {
            margin-top: 25px;
        }
    }
}

.footer {
    margin-top: 50px;
    border-top: 1px solid #eee;

    .container {
        text-align: center;

        a:not(:first-child):before {
            content: '\2014';
        }
    }
}
